<?xml version="1.0" ?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Store:etc/config.xsd">
	<default>
		<!-- Default option values -->
		<configuration>
			<options>
				<is_enabled>1</is_enabled>
				<use_sku>1</use_sku>
				<erp_item_number_attribute_code></erp_item_number_attribute_code>
				<shipment_method_code>checkmo</shipment_method_code>
				<payment_method_code>freeshipping_freeshipping</payment_method_code>
				<cart_or_order>cart</cart_or_order>
			</options>
		</configuration>
	</default>
</config>
