<?xml version="1.0" ?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Config:etc/system_file.xsd">
	<system>
		<tab id="popesites" sortOrder="999" translate="label">
			<label>Popesites</label>
		</tab>
		<section id="popesites_configuration" showInDefault="1" showInStore="1" showInWebsite="1" sortOrder="10" translate="label">
			<label>Configuration</label>
			<tab>popesites</tab>
			<resource>Popesites_Quickorder::config_popesites_quickorder</resource>
			<group id="options" showInDefault="1" showInStore="1" showInWebsite="1" sortOrder="10" translate="label">
				<label>Options</label>
				<field id="is_enabled" showInDefault="1" showInStore="1" showInWebsite="1" sortOrder="10" translate="label" type="select">
					<label>Is enabled</label>
					<comment/>
					<source_model>Magento\Config\Model\Config\Source\Yesno</source_model>
				</field>
			</group>
		</section>
	</system>
</config>
